{% extends 'base_generic.html' %}

{% block content %}
    <h1>Список авторов в БД</h1>
    {% if author_list %}
        {% for author in author_list.all %}
        <p>
            {{author.first_name}} {{author.last_name}},
            <strong>Родился - </strong>{{author.date_of_brith}},
            {% if author.date_of_death == None %}
                <strong>Жив по сей день</strong>
            {% else %}
                <strong>Умер - </strong>{{author.date_of_death}}</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>В базе данных нет авторов</p>
    {% endif %}
{% endblock %}